/*estilos para el blog*/
.blog-main {
    max-width: 90rem;
    margin: 4rem auto;
    padding: 0 2rem;
}

.titulo-pagina {
    text-align: center;
    margin-bottom: 4rem;
}

.titulo-pagina h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--dark-color);
}

.blog-contenedor {
    display: grid; /*organización en cuadrícula*/
	grid-template-columns: 1fr; /* Una columna por defecto (móvil) */
    gap: 3rem;
}

/* --- Estilo Base (Móvil) --- */
.articulo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articulo:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.articulo figure {
    margin: 0;
}

.articulo figure img {
    width: 100%;
    height: auto;
    display: block;
}

/*artículo*/
.articulo div {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.articulo h3 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.articulo h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

.articulo h3 a:hover {
    color: var(--terciario-color);
}

.articulo p {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #222222;
}

.articulo footer {
	display: flex;
	align-items: center;
    margin-top: auto;
    font-size: 1.3rem;
    color: #92979e;
}

/* el responsive */
@media (min-width: 768px) {
    .articulo {
        flex-direction: row; /* La imagen se pone a la izquierda y el texto a la derecha */
    }

    .articulo figure {
        flex-basis: 40%; /* La imagen ocupa el 40% del ancho de la tarjeta */
        flex-shrink: 0;
    }

    .articulo figure img {
        height: 100%; /* La imagen ocupa toda la altura de la tarjeta */
        object-fit: cover; /* Evita que la imagen se estire o se aplaste */
    }

    .articulo div {
        flex-basis: 60%; /* El texto ocupa el 60% restante */
        padding: 2.5rem; /* Un poco más de espacio en pantallas grandes */
    }
}

.boton-ver-mas {
	text-align: center;
	margin-top: 4rem;
}

.boton-v{
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: background-color 0.3s ease, color 0.3s ease;
	letter-spacing: 1px;
}

.boton-v:hover {
	background-color: var(--dark-color);
	color: #fff;
}