/*BANNER*/
.banner {
  background-image: linear-gradient(10deg, #000, #ffffff20),
    url("../img/Banner.jpg");
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 90rem;
  margin: 0 auto;
  padding: 25rem 0;
}

.content-banner p {
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.content-banner h2 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.content-banner a {
  margin-top: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 3rem;
}

.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.card-feature i {
  font-size: 2.7rem;
  color: var(--primary-color);
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.feature-content p {
  color: #777;
  font-weight: 500;
}

/* Productos */
main {
  padding: 30px;
  text-align: center;
}

.productos {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.producto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto button {
  margin-top: 10px;
  padding: 10px;
  background: #272f7a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.producto button:hover {
  background: #444;
}


/* Navegación responsive */
/*temporal hamburguesa*/
/*no recuerdo qué era de acá para abajo*/
.nav-toggle {
	display: none;
	background: none;
	border: none;
	font-size: 3rem;
	color: #fff;
	cursor: pointer;
}

.nav-menu {
	display: flex;
	gap: 2rem;
	transition: max-height 0.3s ease;
}

@media screen and (max-width: 768px) {
	.nav-toggle {
		display: block;
	}

	.nav-menu {
		position: absolute;
		top: 100%;
		left: 0;
		background: var(--primary-color);
		width: 100%;
		flex-direction: column;
		align-items: start;
		max-height: 0;
		overflow: hidden;
		padding: 0;
	}

	.nav-menu.open {
		max-height: 500px; /* Se expande */
		padding: 1rem 2rem;
	}

	.nav-menu li {
		width: 100%;
		padding: 1rem 0;
	}

	.nav-menu a {
		color: #fff;
		font-size: 1.6rem;
	}
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3cb371;
  color: white;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 0.9rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 99999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}