/* Títulos */
h1 {
  color: #333;
  margin-bottom: 20px;
  padding-top: 2rem;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #222;
}

.section-nosotros {
  padding: 60px 80px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.titulo-nosotros {
  text-align: center;
  font-size: 48px;
  color: #272626;
  margin-bottom: 40px;
  font-weight: 700;
}

.nosotros-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-container {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

img.nosotros {
  width: 880px;
  height: 570px;
  border-radius: 19px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.texto-imagen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.texto-nosotros {
  max-width: 900px;
  text-align: justify;
  font-size: 20px;
  color: #636060;
}

.texto-nosotros h3 {
  margin-top: 25px;
  font-size: 25px;
  color: #111;
}

.texto-nosotros p {
  margin-bottom: 20px; 
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .section-nosotros {
    padding: 30px 20px;
  }

  .titulo-nosotros {
    font-size: 32px;
  }

  img.nosotros {
    width: 100%;
    height: auto;
  }

  .texto-imagen {
    font-size: 24px;
    bottom: 15px;
    left: 15px;
  }

  .texto-nosotros {
    font-size: 16px;
    max-width: 100%;
  }

  .texto-nosotros h3 {
    font-size: 20px;
  }
}

/* RESPONSIVE PARA CELULAR */
@media (max-width: 480px) {
  .titulo-nosotros {
    font-size: 26px;
  }

  .texto-imagen {
    font-size: 20px;
  }

  .texto-nosotros {
    font-size: 14px;
  }

  .texto-nosotros h3 {
    font-size: 18px;
  }
}
