/*COLORES PREDETERMINADOS*/
:root {
	--primary-color: #FF94AC;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}
/*LETRA*/
html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Cabecera */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000000;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: -1px;
  font-weight: bold;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}


/* Logo */
.container {
	max-width: 120rem;
	margin: 0 auto;
  padding: 0 2rem;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* Navegación */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background: #ffffff; 
  text-align: center;
}

/* Títulos */
h1 {
  color: #333;
  margin-bottom: 20px;
  padding-top: 2rem;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #222;
}

.section-nosotros {
  padding: 60px 80px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.titulo-nosotros {
  text-align: center;
  font-size: 48px;
  color: #272626;
  margin-bottom: 40px;
  font-weight: 700;
}

.nosotros-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-container {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

img.nosotros {
  width: 880px;
  height: 570px;
  border-radius: 19px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.texto-imagen {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.7);
}

.texto-nosotros {
  max-width: 900px;
  text-align: justify;
  font-size: 20px;
  color: #636060;
}

.texto-nosotros h3 {
  margin-top: 25px;
  font-size: 25px;
  color: #111;
}

.texto-nosotros p {
  margin-bottom: 20px; 
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}